* {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form {
   background-color: #eee;
   text-align: center;
}

input {
   color: blueviolet;
   width: 300px;
   height: 25px;
   border-radius: 5px;
   text-align: center;
}

.id {
   text-align: center;
}

.delBtn {
   width: 100px;
   height: 40px;
   margin: 10px;
}
